<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light" id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3" id="servicios">
            <div class="widget subscribe no-box">
              <h5 class="widget-title">Hotel Sierras Inn<span></span></h5>
              <p>Los espacios del Sierras Inn son nuevos, luminosos y acogedores, al igual que nuestro personal de
                recepción, que con gran placer les asistirá durante su estancia en Cordoba y sabrá sugerirles
                itinerarios, visitas guiadas y algún buen restaurante</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Servicios<span></span></h5>
              <ul class="thumbnail-widget">
                <li>
                  <p><img alt="" width="30" height="30" src="../static/img/parking.png" th:src="@{/img/parking.png}">
                    Estacionamiento</p>
                </li>
                <li>
                  <p><img alt="" width="30" height="30" src="../static/img/wi-fi.png" th:src="@{/img/wi-fi.png}"> Wi-Fi
                  </p>
                </li>
                <li>
                  <p><img alt="" width="30" height="30" src="../static/img/ascensor.png" th:src="@{/img/ascensor.png}">
                    Asensor</p>
                </li>
                <li>
                  <p><img alt="" width="30" height="30" src="../static/img/Aire-acondicionado.png"
                      th:src="@{/img/Aire-acondicionado.png}"> Aire Acondicionado</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Registrarse<span></span></h5>
              <p>Registrese para recibir promociones</p>
              <a class="btn" href="#." target="_blank">Registrarse</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Contactos<span></span></h5>

              <p><a href="mailto:info@hotelsierras.com" title="glorythemes"><img alt="Facebook" width="30" height="30"
                    src="../static/img/gmail.png" th:src="@{/img/gmail.png}"> info@hotelsierras.com</a></p>

              <p><img alt="telfonos" width="30" height="30" src="../static/img/telefono.png"
                  th:src="@{/img/telefono.png}"> 0351 - 4842799</p>

              <p><img alt="telfonos" width="30" height="30" src="../static/img/ubica.png" th:src="@{/img/ubica.png}">
                Av. Colon 700 - Centro</p>

              <ul class="social-footer2">
                <li class=""><a href="https://www.facebook.com/lorenazuazo" target="_blank" title="Facebook"><img
                      alt="Facebook" width="30" height="30" src="../static/img/facebook.png"
                      th:src="@{/img/facebook.png}"></a></li>

                <li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/lorenazuazo"><img
                      alt="instagram" width="30" height="30" src="../static/img/twiter.png"
                      th:src="@{/img/twiter.png}"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright Hotel Sierras Inn © 2020. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
