/*estilo de la cabecera*/

#main-header {
	background: rgb(244, 244, 245);
	height: 80px;
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed; 
}	
	#main-header a {
		color: rgb(68, 60, 60);
    }
/*Logo */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
}

/*Estilo para el menu de navegacion de la barra fija*/

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				font-size: 18px;
			}

			nav ul li i, ul li ul li i{
				vertical-align: middle;
			}
			
				nav ul li a:hover {
						background: #9bf0ce;
				}

					nav ul li ul {
						display: none;
					}
					
					ul li:hover ul {
						display: block;
					}
					
					ul li ul {
						position: absolute;
						width: 200px;
						display: none;
					}
					
					ul li ul li { 
  						background: white; 
  						display: block; 
					}

					ul li ul li a {
						display:block;
					} 

/*estilos para el diseño al contenido - body*/
/* estilos para slider*/
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 500%;


	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none; 
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

#main-content {
	background: rgb(157, 247, 202);
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}

/*estilo para el pie de página*/

#main-footer {
	background: rgb(62, 151, 82);
	color: rgb(26, 20, 20);
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}