<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  

  <!--para usar bootstrap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- iconos de materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cardo:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">

  
  <!-- link CSS -->
  <link rel="stylesheet" href="../static/css/mystyle.css" th:href="@{../css/mystyle.css}">

  <!-- logo en pestaña de navegacion -->
  <link rel="icon" type="imagen/png" href="../static/img/letra-h.png" th:href="@{../img/letra-h.png}">



  <title>Hotel Sierra Inn</title>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
  <!-- barra de navegacion -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a id="navbar-brand" href="#"><img src="../static/img/logo.png" th:src="@{/img/logo.png}" /></a>
    <!-- /#logo-header -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav text-right">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/tarifas}">Tarifas</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/fotos}">Fotos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Ver Mas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
              <i class="material-icons icons-design">pin_drop</i> Ubicacion</a>
            <a class="dropdown-item"  data-toggle="modal" href="#ventanacomentario">
              <i class="material-icons icons-design">thumb_up</i> Comentario</a>
            <a class="dropdown-item" href="#contacto">
              <i class="material-icons icons-design">contact_mail</i> Contacto</a>
            <a th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="dropdown-item" href="#" th:href="@{/modificaciones}">
              <i class="material-icons icons-design">comment</i> Modificaciones</a>                 
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/login}"><i class="material-icons icons-design">perm_identity</i>
            Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/registro}">Crear Cuenta</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi Cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p class="font-weight-normal " th:inline="text">
                  <i class="material-icons icons-design">perm_identity</i> [[${#httpServletRequest.remoteUser}]]!</p>
              <hr>
              <a class="dropdown-item" href="#"> Mis Datos</a>
              <form th:action="@{/logout}" method="post">
                  <input id="btncerrarsesion"type="submit" value="Cerrar Sesion"/>
              </form>
          </div>
      </li> 
      </ul>
    </div>
  </nav>

  <!-- formulario de reserva -->
  <div class="margen imagen1">
    <div id="booking" class="section">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="booking-form">
              <div class="form-header">
                <h1>Haga su Reserva</h1>
              </div>
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Check In</span>
                      <input class="form-control" type="date" required>
                    </div>
                    <span class="in-out hidden-xs hidden-sm">&#8652;</span>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Check out</span>
                      <input class="form-control" type="date" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <span class="form-label">N<sup>o</sup>de Habitaciones</span>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <span class="form-label">Adultos</span>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <span class="form-label">Niños</span>
                      <select class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-btn">
                      <button class="submit-btn">Disponibilidad</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 

  <!-- Sobre Nosotros -->
  <div class="container" id="nosotros">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <div class="background_title">BIENVENIDO</div>
          <h2 class="titulo">Hotel Sierra Inn</h2>
          <span class="subtitle">Resort & Spa</span>
        </div>
        <div class="wpb_wrapper">
          <p id="parrafonosotros">Nuestro hotel posee un sello distintivo de calidad y servicio, equipado con
            todos los requerimientos que sus huéspedes necesitan. Contamos con 106 habitaciones, todas de categoría
            superior de 26 y 40m<sup>2</sup>, de las cuales 53 habitaciones superior twin, 10 habitaciones superior
            queen, 41 habitaciones superior king, 2 suite gobernador con balcón terraza. Todas las habitaciones están
            equipadas para satisfacer todos los requerimientos de nuestros huéspedes.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="newsletter">
    <div class="text-center">
      <div>
        <br>
        <h2 class="titulo">SUSCRIBITE A NUESTRO NEWSLETTER</h2>
      </div>
      <div>
        <p style="text-align: center;">
          Enterate de ofertas, eventos y todas las novedades de nuestro hotel.
        </p>
      </div>
      <div class="modal-dialog text-center mt-3">
        <div class="col-sm-12 main-section">
            <div class="modal-content">
                <form class="col-12 mt-3" th:action="@{/login}" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                              <i class="material-icons">email</i>
                            </span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" aria-label="uemail"
                            aria-describedby="basic-addon1" aria-required="true" name="email">
                    </div>
                    <button type="submit" class="btn btn-primary ">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    </div>
  </div>

  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light" id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3" id="servicios">
            <div class="widget subscribe no-box">
              <h5 class="widget-title">Hotel Sierras Inn<span></span></h5>
              <p>Los espacios del Sierras Inn son nuevos, luminosos y acogedores, al igual que nuestro personal de
                recepción, que con gran placer les asistirá durante su estancia en Cordoba y sabrá sugerirles
                itinerarios, visitas guiadas y algún buen restaurante</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Servicios<span></span></h5>
              <ul class="thumbnail-widget">
                <li>
                  <p><img alt="" width="30" height="30" src="../static/img/parking.png" th:src="@{/img/parking.png}">
                    Estacionamiento</p>
                </li>
                <li>
                  <p><img alt="" width="30" height="30" src="../static/img/wi-fi.png" th:src="@{/img/wi-fi.png}"> Wi-Fi
                  </p>
                </li>
                <li>
                  <p><img alt="" width="30" height="30" src="../static/img/ascensor.png" th:src="@{/img/ascensor.png}">
                    Asensor</p>
                </li>
                <li>
                  <p><img alt="" width="30" height="30" src="../static/img/Aire-acondicionado.png"
                      th:src="@{/img/Aire-acondicionado.png}"> Aire Acondicionado</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Registrarse<span></span></h5>
              <p>Registrese para recibir promociones</p>
              <a class="btn" href="#." target="_blank">Registrarse</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Contactos<span></span></h5>

              <p><a href="mailto:info@hotelsierras.com" title="glorythemes"><img alt="Facebook" width="30" height="30"
                    src="../static/img/gmail.png" th:src="@{/img/gmail.png}"> info@hotelsierras.com</a></p>

              <p><img alt="telfonos" width="30" height="30" src="../static/img/telefono.png"
                  th:src="@{/img/telefono.png}"> 0351 - 4842799</p>

              <p><img alt="telfonos" width="30" height="30" src="../static/img/ubica.png" th:src="@{/img/ubica.png}">
                Av. Colon 700 - Centro</p>

              <ul class="social-footer2">
                <li class=""><a href="https://www.facebook.com/lorenazuazo" target="_blank" title="Facebook"><img
                      alt="Facebook" width="30" height="30" src="../static/img/facebook.png"
                      th:src="@{/img/facebook.png}"></a></li>

                <li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/lorenazuazo"><img
                      alt="instagram" width="30" height="30" src="../static/img/twiter.png"
                      th:src="@{/img/twiter.png}"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright Hotel Sierras Inn © 2020. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>

</html>