<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}">
    <link rel="stylesheet" href="../static/css/regisro-formuser.css" th:href="@{/css/regisro-formuser.css}">
    <link rel="stylesheet" href="../static/css/admin.css" th:href="@{/css/admin.css}">
    
    <!-- Script para mostrar y ocultar formularios -->
    <script>
        function Mostrar(id){
            document.getElementById(id).style.display = "block";
            // document.getElementById("boton").value = "Ocultar";
        }

        function Ocultar(id){
            document.getElementById(id).style.display = "none";
            // document.getElementById("boton").value = "Mostrar";
        }
    </script>

    <!-- logo en pestaña de navegacion -->
  <link rel="icon" type="imagen/png" href="../static/img/letra-h.png">
 

    <title>Modificaiones</title>
</head>
<body>
  <!-- barra de navegacion -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a id="navbar-brand" href="#"><img src="../static/img/logo.png" th:src="@{/img/logo.png}" /></a>
    <!-- /#logo-header -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" id="boton"  onclick="Mostrar()">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="boton"  onclick="Mostrar()">Habitaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="boton"  onclick="Mostrar()">Tarifas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" id="boton"  onclick="Mostrar('form-usuario')">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="boton"  onclick="Mostrar()">Reservas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ver Mas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" id="boton"  onclick="Mostrar()"> Roles y Permisos</a>
                    <a class="dropdown-item" href="#" id="boton"  onclick="Mostrar()"> Datos del hotel</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi Cuenta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <p class="font-weight-normal " th:inline="text">
                        <i class="material-icons icons-design">perm_identity</i> [[${#httpServletRequest.remoteUser}]]!</p>
                    <hr>
                    <a class="dropdown-item" href="#"> Mis Datos</a>
                    <form th:action="@{/logout}" method="post">
                        <input id="btncerrarsesion" type="submit" value="Cerrar Sesion"/>
                    </form>
                </div>
            </li> 
                </form>
            </li>
        </ul>
    </div>
</nav>
  
<section class="banner">
</section>

    <!-- formulario usuario -->
    <div class="margen" id="form-usuario" style="display: none;">
        <div id="registro" class="section">
        <div class="section-center">
        <div class="container" id="advanced-search-form">
          <form >
            <h2>Modificar Usuarios</h2>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" id="nombre">
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" placeholder="Apellido" id="apellido">
            </div>
            <div class="form-group">
              <label for="number">Numero de Telefono</label>
              <input type="text" class="form-control" placeholder="Telefono" id="numero de telefono">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="Email" id="email">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" placeholder="Username" id="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Password" id="age">
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search">
              <span class="glyphicon glyphicon-search"></span> Registrar</button>
              <Input type = "button" class="btn btn-info btn-lg btn-responsive" value = "Cerrar" onclick = "Ocultar('form-usuario')">
          </form>
        </div>
      </div>
    </div>
</div>
</div>

<!-- formulario reservas -->
    



<div th:replace="/components/scripts"></div>
</body>
</html>