<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- iconos de materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css" th:href="@{/css/admin.css}">
    
    <!-- Script para mostrar y ocultar formularios -->
    <script>
        function Mostrar(id){
            document.getElementById(id).style.display = "block";
            // document.getElementById("boton").value = "Ocultar";
        }

        function Ocultar(id){
            document.getElementById(id).style.display = "none";
            // document.getElementById("boton").value = "Mostrar";
        }
    </script>

    <!-- logo en pestaña de navegacion -->
  <link rel="icon" type="imagen/png" href="../static/img/letra-h.png" th:href="@{/img/letra-h.png}">
 

    <title>Modificaiones</title>
</head>
<body>
<div th:replace="/components/navadmin"></div>

  
<section class="banner">
</section> 

    <!-- formulario usuario -->
    <div id="form-usuario" style="display: none;">
        <div id="registro" class="section">
        <div class="section-center">
        <div class="container" id="advanced-search-form">
          <form >
            <h2>Formulario de Registro</h2>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" id="nombre">
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" placeholder="Apellido" id="apellido">
            </div>
            <div class="form-group">
              <label for="number">Numero de Telefono</label>
              <input type="text" class="form-control" placeholder="Telefono" id="numero de telefono">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="Email" id="email">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" placeholder="Username" id="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Password" id="age">
            </div>
            <div class="centrado">
              <button type="submit" class="btn btn-info btn-sm btn-responsive" id="">Registrar</button>
              <button type="submit" class="btn btn-info btn-sm btn-responsive" id="" onclick = "Ocultar('form-usuario')">
              Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
</div>

<!-- formularios de habitacioens -->

   

    
<div th:replace="/components/scripts"></div>
</body>
</html>