<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--para usar bootstrap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- iconos -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}">
  <link rel="stylesheet" href="../static/css/regisro-formuser.css" th:href="@{/css/regisro-formuser.css}">
  <!-- logo en pestaña de navegacion -->
  <link rel="icon" type="imagen/png" href="../static/img/letra-h.png">

  <title>Registro</title>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
  <!-- barra de navegacion -->
  <div th:replace="/components/nav"></div>

  <!-- imagen de fondo -->
  <section class="banner">
  </section> 

  <!-- formulario de registro -->
  
    <div id="registro" class="section margen2 margen-button">
    <div class="section-center">
    <div class="container" id="advanced-search-form">
      <h2>Formulario de Registro</h2>
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" id="nombre">
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" placeholder="Apellido" id="apellido">
        </div>
        <div class="form-group">
          <label for="number">Numero de Telefono</label>
          <input type="text" class="form-control" placeholder="Telefono" id="numero de telefono">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Email" id="email">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" placeholder="Username" id="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" id="age">
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search">
          <span class="glyphicon glyphicon-search"></span> Registrar</button>
      </form>
    </div>
  </div>
</div>
  



  <div th:replace="/components/footer"></div>
  <div th:replace="/components/scripts"></div>
 
</body>

</html>