<form id="servicioForm" th:object="${servicioForm}" method="post" th:action="${editMode}?@{/modificaciones/editar-Servicio}:@{/modificaciones/crearServicio}" autocomplete="off">
    <input class="form-control" type=hidden th:field="${servicioForm.idServicio}"  th:if="${editMode}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="descripcionServicio">Descripcion</label>
            <input type="text" class="form-control" id="descripcionServicio" th:field="*{descripcionServicio}" placeholder="Descripcion Servicio">
            <div class="alert-danger" th:if="${#fields.hasErrors('descripcionServicio')}" th:errors="*{descripcionServicio}">
                Error en descripcionServicio</div>
        </div>
        <div class="form-group col-md-6">
            <label for="costoServicio">Costo Servicio</label>
            <input type="number" class="form-control" id="costoServicio" th:field="*{costoServicio}"placeholder="Costo Servicio">
            <div class="alert-danger" th:if="${#fields.hasErrors('costoServicio')}" th:errors="*{costoServicio}">
                Error en costoServicio</div>
        </div> 
        <div class="form-group col-md-3">
            <label for="estado">Estado</label>
            <select th:field="${servicioForm.estado}" class="form-control" id="estado">
              <option th:each="estado:${T(com.web2.hotel.entities.Servicios.Estado).values()}" th:value="${estado}" th:text="${estado}"></option>
            </select>
            <div class="alert-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">
                Error en estado</div>
          </div> 
        <div class="col-lg-12 text-center">
            <a class="btn btn-secondary btnformuser" th:href="@{/modificaciones/servicio/cancel}">Cancelar</a>
            <input type="submit" class="btn btn-primary btnformuser" th:value="${editMode}?'Guardar Cambios':'Crear servicio'">
        </div>
        <div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">
            Error</div>
</form>